---
layout: archive
title: "Projects"
permalink: /project/
author_profile: true
---

{% include base_path %}

## 🧑‍🔬 Research & Internship Projects
{% assign main_projects = site.project | where: "type", "Project" | sort: 'date' | reverse %}
{% for post in main_projects %}
{% include archive-single.html %}
{% endfor %}

## 🎓 Class Projects
{% assign class_projects = site.project | where: "type", "Class Project" | sort: 'date' | reverse %}
{% for post in class_projects %}
{% include archive-single.html %}
{% endfor %}
